.cr-header {
  margin-bottom: $spacer * .5;
  border-bottom: $border-width solid $border-color;

  &__nav-right {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
  }

  .icons:hover{
    color: white !important;
  }

  .icon-button{
    color: #4361ee ;
  }

  .icon-button:hover{
    color: white !important;
  }

  .btn-outline-secondary {
    border-color: #4361ee !important;
  }

  .btn-outline-secondary:hover{
    background-color: #4361ee !important;
    color: white !important;
  }

  .btn-outline-secondary:hover{
    .icons{
      color: white !important;
    }
  }

  .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem #4361ee !important;
}

  // &__notification-popover {
  //   &.popover {
  //     width: 320px;
  //     max-width: 320px;
  //     max-height: 100vh;
  //     overflow-y: scroll;
  //     cursor: pointer;
  //   }
  // }
}
