.breadcrumb {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 0.75rem 1rem !important;
  margin-bottom: 1rem !important;
  list-style: none !important;
  background-color: #e9ecef !important;
  border-radius: 0.25rem;
}

.cr-page {
  min-height: 10vh;
}
