.full-size {
  min-height: 100vh;
  padding: 0px !important;
}

.regsiter {
  float: right;
}

.pass {
  margin-top: -25px;
}

.bg-image {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.card-group {
  box-shadow: 0px 4px 8px rgb(38 38 38 / 20%);
  width: 90%;
  margin-top: 15% !important;
}

.card {
  box-shadow: 0px 4px 8px rgb(38 38 38 / 20%);
}

select {
  -webkit-appearance: menulist !important;
}

.card-header {
  color: white;
}

.register-button {
  margin-top: 188px;
}

/* body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa; */
/* background-image: url(../../images/portbg.jpg);
    background-size: cover; */
/* } */

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
  font-family: Raleway, sans-serif;
}

.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row {
  margin-left: 0;
  margin-right: 0;
}

.no-scroll {
  margin-right: 0;
}

.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-form .row {
  margin-left: 0;
  margin-right: 0;
}
